<div class="row content-label" ng-if="scheduling.timeslotDetails"> Give us your details for <time-format slot="scheduling.timeslotDetails.slot" format="scheduling.timeFormat"></time-format> slot</div>
<div class="row">
	<div class="col-md-6">
		<form role="form" name="manage_schedule_form" novalidate>
			<div class="form-group">
				<label for="firstname">First Name&nbsp;<span class="required-fields">*</span></label>
				<input type="text" class="form-control" id="firstname" name="firstname" ng-model="scheduling.firstname" placeholder="Ex: Nilesh" required>
				<div ng-show="manage_schedule_form.$submitted || manage_schedule_form.firstname.$touched">
					<span class="error-message" ng-show="manage_schedule_form.firstname.$error.required">
						Please enter First Name.
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="pwd">Last Name&nbsp;<span class="required-fields">*</span></label>
				<input type="text" class="form-control" id="lastname" name="lastname" ng-model="scheduling.lastname" placeholder="Ex: Mistry" required>
				<div ng-show="manage_schedule_form.$submitted || manage_schedule_form.lastname.$touched">
					<span class="error-message" ng-show="manage_schedule_form.lastname.$error.required">
						Please enter Last Name.
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="pwd">Phone Number&nbsp;<span class="required-fields">*</span></label>
				<input type="text" class="form-control" id="phone_number" name="phone_number" ng-model="scheduling.phoneNumber" ng-pattern="scheduling.phoneRegex" placeholder="Ex: 8401434544" required>
				<div ng-show="manage_schedule_form.$submitted || manage_schedule_form.phone_number.$touched">
					<span class="error-message" ng-show="manage_schedule_form.phone_number.$error.required">
						Please enter Phone Number.
					</span>
					<span class="error-message" ng-show="manage_schedule_form.phone_number.$error.pattern">
						Please enter valid Phone Number.
					</span>
				</div>
			</div>
			<button type="submit" class="btn btn-default" ng-click="scheduling.saveUserData(manage_schedule_form)">Save</button>&nbsp;&nbsp;
			<button type="submit" ui-sref="app.schedule.list" class="btn btn-default">Cancel</button>
		</form>
	</div>
</div>