<div class="row">
	<div class="content-label pull-left">
		<label>Pick your time</label>
	</div>
	<div class="dropdown pull-right" style="padding-right: 20px;">
		<select class="btn btn-default dropdown-toggle" ng-model="scheduling.timeFormat" ng-change="scheduling.timeFormatChanged();">
			<option value="0">12 Hour</option>	
			<option value="1">24 Hour</option>
		</select>
		<!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Time Format
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="javascript:void(0);">AM</a></li>
			<li><a href="javascript:void(0);">PM</a></li>
		</ul> -->
	</div>
</div>
<div class="row">
	<div class="col-md-4 timeslot-div" ng-repeat="timeslot in scheduling.timeslots">
		<a href="javascript:void(0);" class="{{!timeslot.isAvailable ? 'btn btn-default timeslot-button full-slot' : 'btn btn-default timeslot-button'}}" ui-sref="{{(timeslot.isAvailable === 'true' || timeslot.isAvailable === true) ? 'app.schedule.new({ id: '+timeslot.timeslotId+' })' : 'app.schedule.edit({ id: '+timeslot.timeslotId+' })'}}"> <time-format slot="timeslot.slot" format="scheduling.timeFormat"></time-format></a>
	</div>
</div>